name: Cypress BDD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  cypress:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repo
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Instalar dependencias
        run: npm install

      - name: Compilar TypeScript (si usas TS)
        run: npm run build --if-present

      - name: Ejecutar tests Cypress (BDD)
        run: npx cypress run

      - name: Guardar videos/screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: |
            cypress/videos
            cypress/screenshots
